/* src/styles.css */
body {
    background-color: #010104;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.star {
    position: absolute;
    background-color: #ffffff;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation: twinkle 1s ease-in-out infinite alternate;
}

@keyframes twinkle {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        transform: scale(1.5);
        opacity: 1;
    }
}
